{% extends "base.html" %}

{% block content %}
    <ul class="todo-list">
          {% for rezept in rezepte %}
            <li class="todo-item">
                <a href="{{ url_for('rezept_detail', rezept_id=rezept.id) }}">{{ rezept.name }}</a>
            </li>
          {% else %}
            <div>Keine Rezepte gefunden. Füge eins hinzu! 🎉</div>
          {% endfor %}
        </ul>

      <div class="todo-form">
        <form action="." method="POST">
          <div class="form-group">
            <label for="name">Neues Rezept</label>
            <input type="text" id="name" name="name" class="form-control"
              placeholder="Namen für dein neues Rezept eingeben…" required />
          </div>

          <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </form>
      </div>
{% endblock %}

      